*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus, button:focus {
  border: none;
  outline: none;
}

a:focus-visible, button:focus-visible {
  border: none;
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;

  --main-font: 'Raleway';
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: normal;
  --main-font-style: normal;

  --blockquote-font-style: italic;
  --blockquote-line-height: 2;

  --accent-color: #ffab6b;
  --accent-font: 'STIX Two Text';

  --marker-light: url('../images/marker-light.svg');
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.heading {
  text-align: center;
  font-family: var(--accent-font, serif);
  font-style: var(--main-font-style, normal);
  font-weight: 600;
  line-height: 0.9;
}

.content-section {
  padding-inline: 5vi;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.content__title {
  font-size: 30px;
  padding-block: 7% 2.5%;
}

.content__text-block {
  font-size: var(--main-font-size, 18px);
  font-style: var(--main-font-style, normal);
  font-weight: var(--main-font-weight, 400);
  line-height: var(--main-line-height, normal);
}

.content__text-block .content__paragraph:not(:last-child) {
  padding-block-end: 1.5em;
}

.content__blockquote {
  inline-size: 75%;
  margin-inline: auto;
  font-style: var(--blockquote-font-style, italic);
  line-height: var(--blockquote-line-height, 2);
}

.content__link {
  color: currentColor;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  background: transparent var(--marker-light) no-repeat center / 15px 15px;
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  inset-inline-start: calc(-10px - 15px);
  inset-block-start: calc(50% - (15px / 2));
}

.theme_dark .content__list-item::before {
  background: url(../images/marker-dark.svg);
}

.content__list .content__list-item:not(:last-child) {
  margin-block-end: 10px;
}

.content__text-block_type_first-lettered>.content__paragraph:first-child::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  margin-inline-end: 1px;
  margin-inline-start: -4px;
  padding-left: 4px;
  padding-right: 4px;
}

.theme_dark .content__text-block_type_first-lettered>.content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  font-size: 0;
  margin-block: 7%;
  inline-size: calc(100% + 10vi);
  position: relative;
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  padding-block: 20px;
  text-align: center;
  border-bottom: 1px solid currentColor;
}

.content__card {
  aspect-ratio: 4/3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
}

.content__card-title {
  margin-block-start: auto;
  font-size: 60px;
  margin-inline: 30px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: '';
  background-color: var(--accent-color);
  inline-size: 218px;
  block-size: 0.22em;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0.2em;
  z-index: -1;
}

.theme_dark .colored-text::after {
  background: url(../images/pattern.svg);
}

.content__card-subtitle {
  text-align: center;
  margin-block-end: auto;
}

.header__menu {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__logo {
  padding-block-end: 6px;
  margin-inline-end: 20px;
}

.header__theme-toggler {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-inline-start: auto;
}

.header__theme-button {
border: none;
padding: 0;
font-family: inherit;
color: currentColor;
cursor: pointer;
background-color: transparent;
}

.header__theme-button:hover:not(:disabled) {
  text-decoration: underline;
}

.header__theme-button_is-active {
  position: relative;
  pointer-events: none;
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  background-color: var(--accent-color);
  inline-size: 78px;
  block-size: 0.35em;
  position: absolute;
  inset-inline-start: calc(50% - 38px);
  inset-block-end: 0.15em;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  background: url(../images/pattern.svg);
}

.footer {
  margin-block-start: 10%;
  inline-size: 100%;
  border-top: 1px solid currentColor;
}

.footer__copyright {
  display: block;
  margin-inline: auto;
  padding-block: 2.5%;
  width: fit-content;
}